<%= simple_form_for @user, class: "w-100" do |f| %>
  <div class="primary-color text-center position-relative py-3 text-light">
    <%= link_to destination, root_path, class: "position-absolute move-left text-light" %>
    <span class="text-light font-weight-bold up-font centered-text"><%= action %></span>
    <%= f.submit form_action, class: "position-absolute move-right text-light submit-btn" %>
  </div>

  <%= f.input :username, placeholder: "Username", label: false, input_html: { class: "w-100 px-3 py-3 mt-3 border-0 mid-font" } %>
  <%= f.input :budget, placeholder: "Initial Budget", :input_html => {value: number_with_precision(f.object.budget, precision: 2), class: "w-100 px-3 py-3 mt-2 border-0 mid-font" }, label: false %>
    <%= f.currency_select(:currency, ["USD", "EUR", "GBP"], {}, class: "border-0 overflow-hidden mt-2 list-group-item list-group-item-dark w-100 dropdown" )%>
    <div class="text-center action-del-info">*select currency from dropdown</div>

<% end %>
