<div class="position-absolute w-100">
  <div class="primary-color text-center position-relative py-3 text-light border-bottom border-light">
    <span class="text-light font-weight-bold up-font">PROFILE</span>
    <%= link_to logout_path, method: :delete do %>
    <span class="position-absolute move-right text-light">Logout (<%= current_user.username %>)</span>
    <% end %>
  </div>
</div>

<div class="primary-color d-flex justify-content-center align-items-center text-white h-100">
  <div class="w-sm-25">
    <div class="d-flex align-items-center mb-3 up-font">
      <div class="icon-wrap p-2 rounded mr-2">
        <i class="fas fa-cogs"></i>
      </div>
      <%= link_to 'Profile Settings', edit_user_path(current_user), class: "d-inline-block w-100 text-white" %>
    </div>

    <div class="d-flex align-items-center mb-3 up-font">
      <div class="icon-wrap p-2 rounded mr-2">
        <i class="fas fa-money-check-alt"></i>
      </div>
      <%= link_to 'All My Transactions', transactions_path, class: "d-inline-block w-100 text-white" %>
    </div>

    <div class="d-flex align-items-center mb-3 up-font">
      <div class="icon-wrap p-2 rounded mr-2">
        <i class="fas fa-money-bill-wave"></i>      </div>
        <%= link_to 'All My Uncategorized Transactions', external_transactions_path, class: "d-inline-block w-100 text-white" %>
    </div>

    <div class="d-flex align-items-center mb-3 up-font">
      <div class="icon-wrap p-2 rounded mr-2 up-font-2">
        <i class="fas fa-layer-group"></i>
      </div>
        <%= link_to 'Expense Categories', expenses_path, class: "d-inline-block w-100 text-white" %>
    </div>
  </div>
</div>