<div class="h-100 primary-color">
  <div class="text-center position-relative py-3 text-light border-bottom border-light">
    <%= link_to 'Profile', root_path, class: "position-absolute move-left text-light" %>
    <span class="text-light font-weight-bold up-font centered-text">CATEGORIES</span>
    <%= link_to logout_path, method: :delete do %>
    <span class="position-absolute move-right text-light">Logout (<%= current_user.username %>)</span>
    <% end %>
  </div>

  <div class="grid-centered primary-color grid-bg mb-5 pb-5">
    <div class="grid-centered-item">

      <% if @categories.any? %>
      <div class="d-flex flex-column">
        <% @categories.each do |category| %>
        <%= link_to category do %>
        <div class="d-flex my-2 justify-content-between bg-white p-sm-3 p-2">
          <div class="d-flex card-details align-items-center"> <!-- icon and info -->
            <%= image_tag ("icons/categories/#{category.icon}"), class: "icon-box mr-sm-3 mr-2" %> <!-- icon -->
            <div class="d-flex flex-column justify-content-between">
              <p class="font-weight-bold up-font"><%= category.name %></p>
              <span><i class="far fa-user"></i> <%= category.user.username %><br><%= date(category.created_at) %></span> <!-- info -->
            </div>
          </div>

          <div class="d-flex flex-column justify-content-between align-items-end w-50">
            <div class="font-weight-bold trasact-amount"><%= transactions(category) %> <i class="fas fa-flag"></i> <span class="ml-1"><%= average(category) %> <i class="fas fa-percentage"></i> </span>
            </div> <!-- amount -->
            <div class="total_expense-sm"><%= amount(category.total_transactions) %> <i class="fas fa-money-bill-alt"></i></div>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="bottom-btn  secondary-color p-2">
  <%= link_to 'ADD NEW', new_category_path, class: "bottom-btn-link" %>
</div>