<div class="primary-color w-100 pt-4 pb-2 px-3 d-flex justify-content-between">
  <%= link_to 'Profile', root_path, class: "text-light" %>
  <span class="nav-header text-white">TRANSACTIONS</span>
  <span> <%= link_to "Logout", logout_path, method: :delete, class: "text-light" %> </span>
</div>

<div class="primary-color text-center position-relative py-3 text-light">
  <%= link_to active_link[0], active_link[1], class: "text-light font-weight-bold up-font" %>
  <%= link_to inactive_link[0], inactive_link[1], class: "position-absolute move-right text-light" %>
</div>

<div>
  <div class="bg-white p-3 report_stat">
    <% if !!current_user.budget %>
    <div class="d-flex justify-content-between">
      <div>Initial budget:</div>
      <div class="font-weight-bold text-success" ><%= amount(current_user.budget) %></div>
    </div>

    <div class="d-flex justify-content-between my-1">
      <div>Balance:</div>
      <div class="font-weight-bold text-primary"><%= balance %></div>
    </div>
    <% end %>

    <div class="d-flex justify-content-between">
      <div>Total expenses:</div>
      <div class="font-weight-bold text-danger"><%= amount(total_expenses(current_user)) %></div>
    </div>

    <div class="d-flex justify-content-between mt-1">
      <div>Total external expenses:</div>
      <div class="font-weight-bold text-danger"><%= amount(total_external_expenses(current_user)) %></div>
    </div>
  </div>
</div>

<div class="bottom-btn  secondary-color p-2">
  <%= link_to 'ADD NEW', new_transaction_path, class: "bottom-btn-link" %>
</div>
