<div class="primary-color w-100 pt-4 pb-2 px-3 d-flex justify-content-between border-bottom border-light">
  <%= link_to 'Profile', root_path, class: "text-light" %>
  <span class="nav-header text-white">EXPENSES</span>
  <%= link_to logout_path, method: :delete do %>
  <span class="text-light">Logout (<%= current_user.username %>)</span>
  <% end %>
</div>

<div class="background primary-color d-flex justify-content-center align-items-sm-center text-white">
  <div class="w-sm-50 w-100">
    <% if @expenses.any? %>
      <% @expenses.each do |expense| %>
      <div class="container">
      <%= link_to expense do %>
      <div class="d-flex my-3 justify-content-between bg-white p-sm-3 p-2">
        <div class="d-flex card-details align-items-center"> <!-- icon and info -->
          <div class="icon-box mr-sm-3 mr-2"></div> <!-- icon -->
          <div class="d-flex flex-column justify-content-between">
            <p class="font-weight-bold up-font"><%= expense.name %></p>
            <span><%= date(expense.created_at) %></span> <!-- info -->
          </div>
        </div>
        <div class="d-flex flex-column justify-content-between align-items-end">
          <div class="font-weight-bold trasact-amount"><%= transactions(expense) %> <i class="fas fa-flag"></i> <span class="ml-2"><%= average(expense) %> <i class="fas fa-percentage"></i> </span>
          </div> <!-- amount -->
          <div class="total_expense-sm"><%= amount(total_expenses(expense)) %> <i class="fas fa-money-bill-alt"></i></div>
        </div>
      </div>
      <% end %>
      </div>
      <% end %>
    <% end %>
  </div>

  <div class="bottom-btn  secondary-color p-2">
    <%= link_to 'ADD NEW CATEGORY', new_expense_path, class: "bottom-btn-link" %>
  </div>
</div>

