<div class="primary-color text-center position-relative py-3 text-light">
  <%= link_to 'Back', expenses_path, class: "position-absolute move-left text-light" %>

  <%= link_to edit_expense_path(@expense), class: "text-light font-weight-bold up-font centered-text" do %>
    <%= @expense.name %>
    <%= image_tag ("icons/edit2.svg"), class: "action-icon" %>
  <% end %>

  <%= link_to logout_path, method: :delete do %>
  <span class="position-absolute move-right text-light">Logout (<%= current_user.username %>)</span>
  <% end %>
</div>

<div>
  <div class="bg-white p-3 report_stat">
    <div class="d-flex justify-content-between">
      <div>Total amount spent on <%= @expense.name %>:</div>
      <div class="font-weight-bold text-danger"><%= amount(total_expenses(@expense)) %></div>
    </div>
  </div>
</div>

<div class="pb-5">
  <% if @expenses_size %>
  <h4 class="mt-5 mb-2 text-center">TRANSACTIONS</h4>
    <% @expenses.each do |transaction| %>
      <%= render partial: 'transactions/transaction_card', :locals => { :transaction => transaction } %>
    <% end %>

  <% else %>
  <h4 class="text-center mt-5
  ">No Transactions Recorded</h4>
  <% end %>
<div class="mt-5"></div>

<div class="bottom-btn  secondary-color p-2">
  <%= link_to 'ADD NEW', new_categorized_transaction_path(@expense), class: "bottom-btn-link" %>
</div>

