<!DOCTYPE html>
<html lang="zxx">
  <head>
    <title>ExpenseTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b9edfb7622.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice.present? %>
      <div class="text-center bg-success text-light font-weight-bold py-2" id="flash-message"> <%= notice %> </div>
    <% end %>
    <% if alert.present? %>
      <div class="text-center bg-danger text-light font-weight-bold py-2" id="flash-message"> <%= alert %> </div>
    <% end %>
    <%= yield %>
  </body>
</html>
