<!DOCTYPE html>
<html>
  <head>
    <title>ExpenseTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <span>logged in as: <%= current_user.username %> <%= link_to 'Edit', edit_user_path(current_user) %>
      </span>
      <p>add new expense category: <%= link_to 'New Category', new_expense_path %></p>
      <p><strong>initial budget: </strong><%= amount(current_user.budget) %></p>
      <p><strong>total expenses:</strong> <%= amount(total_expenses)%></p>
      <p><strong>current balance:</strong> <%= amount(current_user.budget - total_expenses) %></p>
    </nav>
    <% if notice.present? %>
      <p> <%= notice %> </p>
    <% end %>
    <% if alert.present? %>
      <p> <%= alert %> </p>
    <% end %>
    <%= yield %>
  </body>
</html>
